*.iso
*.img
*.log

# We aren't providing a library, so we can ignore that one :)
Cargo.lock

target
build
bundled
sysroot

# Bochs specific files:
bx_enh_dbg.ini

# Objdump files:
*.dump

# Remove doom port related files:
base-files/doom1.wad
