name: Aero

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

  RED: '\033[1;31m'
  NOCOLOR: '\033[0m'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y nasm make
        python3 -m pip install requests xbstrap
    - name: Build Documentation
      run: make doc
    - name: Formatting Check
      run: |
        ./aero.py --fmt
        git diff-index --quiet HEAD -- || (printf "${RED}error${NOCOLOR}: formatting check failed, run \`./aero.py --fmt\`\n" && exit 1)
    - name: Deploy documentation
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/master' && (github.event_name == 'push' || github.event_name == 'schedule')
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/web/
